.rgb{
    transition: background-color 3s ease-in-out;
}
header{
    height:  6vw;
    width: 100%;
    transition: background-color 3s ease-in-out;
    float: left;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
}
.inline_block{
    display: inline-block;


}
.block1{
    background-color:rgba(255,255,255,0.1);
    height: 100%;
    width: 6vw;
}
.block2{

    width: 23vw;
    text-align: center;
    box-sizing: content-box;
    height: 90%;
    font-size: 2.5vw;
    position: relative;
    top: -1.7vw;
}
.block3{

    width: 16vw;
    text-align: center;
    box-sizing: content-box;
    height: 90%;
    font-size: 2.5vw;
    position: relative;
    top: -1.7vw;
}
.block2 a{
    color: white;
    text-decoration: none;
}
.block3 a{
    color: white;
    text-decoration: none;
}
#profile {
    display: inline-block;
    width: 6vw;
    height: 100%;
}
img{
    width: 100%;
    height: 100%;
}
body{
    background-image: url("img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main{
    background-color: rgba(200,200,200,0.4);
    width: 95%;
    height: 95vh;
    position: relative;
    top: 15vh;
    margin-left: 2.5%;
    float: top;
}
#aboutme{
    width: 100%;
    height: 88vh;
    background-color: orange;
    padding: 0;
    margin: 0;

}
#blog{
    width: 100%;
    height: 0vh;
    background-color: pink;
    transition: height 1.2s linear;
    padding: 0;
    margin: 0;
}
#friends{

    width: 100%;
    height: 0vh;
    background-color: blueviolet;
    transition: height 1.2s ease-out;
    padding: 0;
    margin: 0;
}
#friendlylinks{

    width: 100%;
    height: 0vh;
    background-color: azure;
    transition: height 1.2s ease-in;
    padding: 0;
    margin: 0;
}
#lengthen{
    width: 100%;
    height: 5vh;
    transition: height 0.1s ease-in;
    padding: 0;
    margin: 0;
    position: absolute;
    float: left;
    display: block;
}
#lengthen h5{
    margin: 0 30%;
    width: 40%;
    height: 60%;
    text-align: center;
    line-height: 100%;

    transition: background-color 3s ease-in-out;
    position: relative;
}
#arrow{
    width: 3vh;
    height: 3vh;
    position: absolute;
    right: 0;
    top: 0;
}
#arrow1{
    width: 3vh;
    height: 3vh;
    position: absolute;
    left: 0;
    top: 0;
}
#arrow img{
    height: 100%;
    width: 100%;
}
#aboutme #info {
    margin-top: 5%;
    color: white;
    text-align: center;
    font-family: Consolas, serif;
}
.border1{
    border-width: 0.5vh;
    border-color: azure;
    border-radius: 2%;
    width: 80%;
    margin-left: 10%;
    border-style: solid;
    padding: 2vh ;
}