.boxs {
    width: 90%;
    margin-left: 5%;
    background-color:azure;
    border: 1px orangered solid;
    margin-bottom: 10px;
}

#boxx{
    width: 98%;
    height: auto;
    border: 2px black solid;

}
h3{
    text-align: center;
}
h5{
    text-align: center;
}
h3:first-letter{
    color: red;
    font-size: 28px;
}
h5:first-letter{
    color: orange;
    font-size: 20px;
}
img{
    margin-left: auto;
    position: relative;
    left: 45%;

}